#reviewBuddyContainer {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 300px;
  background-color: #333;
  color: white;
  border: 1px solid #444;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 10px;
  z-index: 1000;
  cursor: pointer;
}
#reviewBuddyHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#reviewBuddyContent {
  display: none;
  min-height: 185px;
}
#reviewBuddyMinimizeButton {
  cursor: pointer;
  background-color: #555;
  border: none;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  display: none;
}
#reviewModelScore {
  margin-top: 10px;
}
.skeleton-container {
  display: flex;
  align-items: center;
}

.skeleton-stars {
  position: relative;
  width: calc(23px * 5); /* Adjust width based on the number of stars */
  height: 19px; /* Height of the star */
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 23.44 19'%3E%3Cpolygon fill='%2380868b' points='10,15.27 16.18,19 14.54,11.97 20,7.24 12.81,6.63 10,0 7.19,6.63 0,7.24 5.46,11.97 3.82,19'/%3E%3C/svg%3E");
  background-repeat: repeat-x;
  overflow: hidden;
  margin-right: 10px; /* Space between stars and rating */
}

.skeleton-rating {
  position: relative;
  width: 20px; /* Width of the rating skeleton */
  height: 19px; /* Height of the rating skeleton */
  background-color: #80868b; /* Grey color for the skeleton */
  overflow: hidden;
  margin-right: 5px;
}

.skeleton-summary {
  position: relative;
  width: 250px; /* Width of the summary skeleton */
  height: 40px; /* Height of the summary skeleton */
  background-color: #80868b; /* Grey color for the skeleton */
  overflow: hidden;
  margin-right: 5px;
}

.skeleton-glimmer {
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.8) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  animation: glimmer 1.5s infinite;
}

@keyframes glimmer {
  0% {
    left: -100%;
  }
  50% {
    left: 100%;
  }
  100% {
    left: 100%;
  }
}

.stars {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 23.44 19'%3E%3Cpolygon fill='%2380868b' points='10,15.27 16.18,19 14.54,11.97 20,7.24 12.81,6.63 10,0 7.19,6.63 0,7.24 5.46,11.97 3.82,19'/%3E%3C/svg%3E");
  background-repeat: repeat-x;
  display: inline-block;
  overflow: hidden;
  position: relative;
  width: calc(23px * 5); /* Adjust width based on the number of stars */
  height: 19px; /* Height of the star */
}

.stars span {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 23.44 19'><polygon fill='%23fdd663' points='10,15.27 16.18,19 14.54,11.97 20,7.24 12.81,6.63 10,0 7.19,6.63 0,7.24 5.46,11.97 3.82,19'/></svg>");
  background-repeat: repeat-x;
  display: block;
  height: 19px; /* Height of the star */
}

.info-icon {
  font-size: 14px; /* Slightly bigger font size */
  margin-left: 5px;
  color: #999; /* Slightly grey color for the info icon */
  cursor: pointer;
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #999; /* Grey circle around the icon */
  text-align: center;
  line-height: 18px; /* Center the "i" vertically */
}

.tooltip {
  visibility: hidden;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  bottom: 125%; /* Position the tooltip above the text */
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
  width: 200px;
}

.tooltip::after {
  content: "";
  position: absolute;
  top: 100%; /* Position the arrow */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.info-icon:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.whitify {
  filter: invert(100%) sepia(1%) saturate(0%) hue-rotate(314deg)
    brightness(109%) contrast(101%);
}
.summary-button {
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  max-height: 40px;
  background-color: #444;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s, max-height 0.25s ease-in-out;
}

.summary-button:hover {
  background-color: #555;
}

.summary-button img {
  transition: transform 0.25s ease-in-out;
}

.summary-button.expanded {
  white-space: normal;
  max-height: 300px; /* Adjust this value as needed */
  overflow-y: auto;
}

#placeSummary {
  max-width: 250px;
  margin-left: 10px;
}

#toggleArrow {
  height: 40px;
  width: 20px;
}
#tabs {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}

.tab-button {
  background-color: #555;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  flex: 1;
  transition: background-color 0.3s;
}

.tab-button.active {
  background-color: #777;
}

.tab-content {
  display: none;
  transition: opacity 0.3s ease-in-out;
}

.tab-content.active {
  display: block;
  opacity: 1;
}

.flex {
  display: flex;
}

.s-e {
  justify-content: space-evenly;
}

.a-i-c {
  align-items: center;
}
